<pre style="font: 1vmin/.7vmin monospace;">
|                                                                     
|                         ...`..........`..`                        
|                    ..........................`                    
|                ...................................                
|              .......................................              
|           `...........................................`           
|          ...............................................          
|         `................................................         
|         .................................................         
|         `...................```    ```...................         
|          ............``                    `.............         
|          .........`                            .........`         
|          .......`                                `......          
|          ......`                                  `.....          
|          ,.....                                    .....          
|          ,....                                     `....          
|          .....                                      ....          
|           ....`                                     ....          
|           ....`                                    `....          
|           .....                                    `...           
|           .....                                    ....           
|           .....                                    ....           
|           ,....                                    ....           
|            ....                                    ....           
|            ....`                                   ...`           
|            ....`                                  `....           
|            .....                                  ....`           
|            .....                                  ....`           
|            .....                                `,....            
|            ......                        ````.,,,,....            
|            .....,,,,                 `,,,,,,,,,,,,....            
|             .....,,,,              `,,,,,,,,,,,,,,....            
|             .....,,,,,           `,,,,,,,,,,,,,,,.....            
|             .....,,,,,,         ,,,,,,,,,,,,,,,,,.....            
|             .....,,,,,,,`    `.,,,,,,,,,,,,,,,,,,....`            
|             .....,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,....             
|             .....,,,,``.,,,,,,,,,,,,,,,,,,,,,,,,,....             
|             `....,,`     .,,,,,,,,,,,,,,,,,,,,,,,....             
|              ....,,       ,,,,,,,,,,,,,,,,,,,,,,,....             
|              .....,       ,,,,,,,,,,,,,,,,,,,,,,,....             
|              .....,       ,,,,,,,,,,,,,,,,,,,,,,,...`             
|              .....,,    `,,,,,,,,,,,,,:,,,,,,,,,....`             
|              `....,,,,   ,,'+++,,,,:++++++,,,,,,....              
|              .....,,,,   ,,'+++,,,;++++++++,,,,,....              
|              .....,,,,,.,,,'+++,,,+++++++++,,,,,....              
|               ....,,,,,,,,,'+++,,,+++,,,'',,,,,,....              
|               .....,,,,,,,,'+++,,:+++,,,,,,,,,,,....              
|               .....,,,,,,,,'+++,,,++++,,,,,,,,,,...,              
|               .....,,,,,,,,'+++,,,++++++,,,,,,,.....              
|               .....,,,,,,,,'+++,,,,+++++++,,,,,.....              
|               .....,,,,,,,,'+++,,,,,'++++++,,,,....               
|               `....,,,,,,,,'+++,,,,,,,'+++++,,,....               
|                ....,,,,,,,,'+++,,,,,,,,,'+++,,,....               
|                ....,,,,,,,,'+++,,,,;,,,,,+++;,,....               
|                .....,,'+,,,++++,,:++:,,,,+++:,,....               
|                .....,++++'++++',,+++++''++++,,,....               
|                `....,'++++++++,,,:+++++++++',,.....               
|                ,.....,'++++++,,,,,,+++++++;,,,....`               
|                ......,,,:;;,,,,,,,,,,:;;:,,,,.....                
|                 .......,,,,,,,,,,,,,,,,,,,,.......                
|                 `.........,,,,,,,,,,,,,,.........                 
|                  ...............................`                 
|                    ............................                   
|                     ..........................                    
|                       `....................`                      
|                          `..............                          
|                                                                   
</pre>