<pre style="font: 1.5vmin/1.5vmin monospace;">
|                               #%@@%   *@@&%                           
|                             @&&/       &&@%                           
|                            *&&%         %&&%                          
|    &%&&                    *&           #&&%              %&&%&       
|   %&&&&&&@%                /&           #&&&            %@&&&&&&&     
|   &&##%&&&@             &&&&%             .&&&%        &&&&%###%&@    
|   ,@######&&&           @&%#              &&(         &@&%######&&%   
|    @(######&&&&          %&&%            (&&&        %&&######(@@     
|    @(((######%&&%        *&             #&&%        %@&######(((@@/   
|   /@@((((((######&&@#      *&         #&&%      &@&######(((((&&%     
|   #&&(((((((######%&&%     ,&&&         %&&%     %&&%#####((((((((&&% 
|   (&&((((((((#######&&&%   %&&&@&&&@&&&@&&&%    %&&%#####(((((((((&&% 
|    @(((((((((######&&&@&&&&&&&&%%%%%&&&&&&&&@&&#####((((((((((@@,     
|    #&&((((((((((@&%###%&%#####################%&###&(((((((((&&&      
|     /&&%((((((((#&&%###############################%&&%(((((#&&&      
|       &&&%((((((((&&############################&&(((((((#&&@         
|         @&&%(((((((&&##########################&&&((((((%&&&&         
|            @&&&((%&##########################&&&(((%&&&@.             
|              ,@@&&&&&##########################&&&&&&&@/              
|                   %&&##########################%&&&                   
|                   %&############################&&%                   
|                   &&%(((((((###############(((((((#&&                 
|                   &&%(((((##((###########(((#(((((#&&                 
|                   (&&(((&&&&&((##########(&&&&&(((&&%                 
|                    @((%&&&&((#########((&&&&&(((@@                    
|                    @((((((((((########((((((((((@@                    
|                    @((((((((((########((((((((((@@/                   
|                    @((((((((((#########(((((((((@@*                   
|                    @(((((((((##########(((((((((@@                    
|                    &&%((((((((###########((((((((#&@                  
|                    %&&((((((((###########((((((((%&&                  
|                    .@@(((((((#############(((((((&                    
|                     &&&((((((#############((((((%&&                   
|                      @&&((((###############((((%&@.                   
|                       @&&(((###&&&&&&&&&%##(((&&&*                    
|                        &&##%&&&&&&&&&&&#(&&&                          
|                          @&&%&&&&&&&&&&&&&%&&@,                       
|                            &&&&&&&&&&&&&&&&@,                         
|                              &@&&&&&&&&&@@                            
|                                  #@@@%                                
|                                                                       
</pre>
