<pre style="font: .6vmin/.3vmin monospace;">                                                 |                                                                                            
|              `````````      `   `      ``     `          `      `  `    `` `  ` `` `` `  `  `  ```` `  ` `` `` `  `  `    ``  `  `` `` ````` ```  ` `` `  `` `` ````` ```  ` `` `  `````              
|          ``````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````           
|          ``,:``.,``:;``````````````````````````````````````````````````````````````````````````,.```.``````````````````````````````````````````````````````````````````````````````````````           
|          ``::.`:,.`';.`````````````````````````````````````````````````````````````````````````,,,,.;``````````````````````````````````````````````````````````````````````````````````````           
|          ``,:.`,,.`;'.`````````````````````````````````````````````````````````````````````````,,:,,,``````````````````````````````````````````````````````````````````````````````````````           
|        ``````````````````````````````````````````````````````````..........................................................................................................................``         
|        ``,:::::::::::::::::::::::::::::::::::::::::::::::::::::::`````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````        
|       ```;++++++++++++''''''''''''''''''''''''''''''''''''''''''+                                                                                                                          ```        
|       ```;++++++++++++''''''''''''''''''''''''''''''''''''''''''+                                                                                                                          ````       
|      ````;++++++++++++'''';'''''+'''';''''''''''''''''''''''''''+                                                                          ` ```  ` `` `  `` `` ````                       ````       
|      ````'++++++++++++'''+.#+'++;`.':.++''''''''''''''''''';;'''+    `,`.     `     ,`                                                    `                         `                      ````       
|      `````;+;;,.:;;+++'''``..,..`#:`,.,`';:'''''''''''''''';;'''+    .:,,;,,:::,:,:,:`                                      `                                             `                ````       
|      `````:+;:.`,;;#++''+.``,`,`.',,.``.'';'''''''''''''''''';''+    ,;...;,,,,:,,.:,`                                     `.`   `...`      `.                           .``    `.    `    ````       
|      `````:+'.,`:.;#++''',::;:;,'.:::,;,'''''''''''''''''';:::''+    ```````````.```.                                      `.`   ` ```      ` . `      `                .`.`   .``.   `    `````      
|      `````:+;,`;..;#++'''+++++'+'#++++'#''''''''''''''''''';;'''+                                                         ``.``  ` ```      ` . ```````.`               ..``   `` .   `    `````      
|      `````:+;,.;`.:+++''''''''''''''''''''''''''''''''''''''''''+                                                          .`.   ` ` `      `.. ````` ```               ````    ..`   `    `````      
|      `````:+'...,.;#++'''''';'''''''''''''''''''''''''''''''''''+     `  `` `   `` ``     `.` `   `` ` `    `              `.`   `...`        `                          ..     ..`        .````      
|      ```.`:+;,.,.;;#++''';'':;::::::;;::;::'''''''''''''''''''''+     .  ````   `. ` `   .```.`  . .`` ````.````                                                                           .````      
|      ```.`:+;;..,;;#++'''';':;;;;;:;;;:;::;'''''''''''''''''''''+    `.` .```   `` .``   ``````` ````. `.``.`.``                          `                         `                      .````      
|      ```.;+++'''''++++''''''''';''''''''''''''''''''''''''''''''+                                                                                                                          .````      
|      ```.'+++#++##++++''''''''''''''''''''''''''''''''''''''''''+                                                        ``                                                                .````      
|      ```.;++++;''+++++''''''''''''''''''''''''''''''''''''''''''+                                                        `..`,.``                                                          .````      
|      ```.;++++;'++++++''''''''''''''''''''''''''''''''''''''''''+`                                                       `,.,.,,`                                                          .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+                                                          ````.                                                           .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+                             ` `                    ``              `                                                     .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+              `....`.`..`. . `.., ..`.. ..`.`..,..`.`..`...`....``. .........`..`                                         .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+              ``..`..`...` . .`.. ..`,` .`.`,`...```.`.`... .`...`. ```.`.....`.`                                         .````      
|      ```.;++++++++++++''''''''+''+''''+'''''''''''''''''''''''''+                  `   `         `  .` ` `  `       ` ` `.                 . ``.                                           .````      
|      ```.;+++'''''++++'''':'';;'';';;;;'''''''''''''''''''''''''+                                                                                                                          .````      
|      ```.;++';;;;;'+++''',,;:'::;::::;';''''''''''''''''''''''''+                                                                                                                          .````      
|      ```.;++';;;;;'+++''':,';;:::::::;;;''''''''''''''''''''''''+        ````                                                                                                              .````      
|      ```.;++';';';'+++''''''''''''''''''''''''''''''''''''''''''+     ``.',..`                                                                                                             .````      
|      ```.;++';''';'+++''''''''''''''''''''''''''''''''''''''''''+     ``;+#..` `..``..`.``.` ` `  ````                                                                                     .````      
|      ```.;++';''';'+++''''''''''''''''''''''''''''''''''''''''''+     ``::+,.` ..:;,,,:,:,,. ` ```````                                                                                     .````      
|      ```.;++';';';'+++'''''''''''''''';'''''''''''''''''''''''''+     `.:.;;;. ``.. .``,`,.` ` ` ``                                                                                        .````      
|      ```.;++';;;;;'+++'''';';:;;;;;;:;:;;'''''''''''''''''''''''+     `:;,:''.                                                                                                             .````      
|      ```.;++';;;;;'+++''';;';:::;::';:::;'''''''''''''''''''''''+     `:';,+;.                                                                                                             .````      
|      ```.;++++++++++++'''';';;;';;;;';;;;'''''''''''''''''''''''+     `:+':#+. `.```` ` `` `` ``` `` ` ` ```` ``` ``` .```  ` ` `` `.`.```` .`````.````` ` ````` ``` , ` `                 .````      
|      ```.;++++'''+++++''''''''''''''''''''''''''''''''''''''''''+     `:+++''. `.`.`. ..```.....`.`.`. ..`..``...`. ` .`..`.. ..`. .....`.. .............. ``...`... ....`                 .````      
|      ```.;++++;'++++++''''''''''''''''''''''''''''''''''''''''''+     `:'''''. ` ..`. .``. ````..` ``. .````. `.`` .`.```,.`. ,`.` .`.```.. .`..`````````. ..`.. ``. `..`                  .````      
|      ```.;++++'''+++++''''''''''''''''''''''''''''''''''''''''''+       `````                  `                         `    `                            ``    `      `                  .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+                                                                                                                          .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+                                                                                                                          .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+               ``.```` `..``.                                                                                             .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+              ` ....`, `...,`                                                                                             .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+              ``.```.````````                                                                                             .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+                                                                                                                          .````      
|      ```.;++++''''++++''''''''''''''''''''''''''''''''''''''''''+                                                                                                                          .````      
|      ```.;++++;;;'++++''''''''''''''''''''''''''''''''''''''''''+         `                                                                                                                .````      
|      ```.;++++''''++++'''::';:;;:;:;':';;;''''''''''''''''''''''+     :##+;#:`     `                                                                                                       .````      
|      ```.;++++''+'++++''';;::::::::;':''''''''''''''''''''''''''+     ,:;:`:.` .`  .        ` `                                                                                            .````      
|      ```.;++++;';+++++''':;':;:;;;:;::';;';'''''''''''''''''''''+     .`;:``.` ..:,,:,.    `` ```                                                                                          .````      
|      ```.;++++;;;+++++''''''''''''''''''''''''''''''''''''''''''+     ..@:``.` .:,,.,.`  ````  ``                                                                                          .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+     :::;,.,` `                                                                                                           .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+     ::';+:.`                                                                                                             .````      
|      ```.;++++++++++++'''''''''''''';'''''''''''''''''''''''''''+     :':..`..                                                                                                             .````      
|      ```.;++++'''+++++'''';';;:;;:;;;;;:''''''''''''''''''''''''+     :+#:.`:, `..``.```...``..`.``...`.`..`. .`...`                                                                       .````      
|      ```.;++++;'''++++'''';'::;::;:;;;:;''''''''''''''''''''''''+     :@#+,,@. ``.``....``..`..``.``,. .`,.., ..`...``                                                                     .````      
|      ```.;++++'''+++++'''''';;';;'';;;';''''''''''''''''''''''''+     `,,,`.,`   `  .`` ` ` `.`   ` `  ```` ` . ` ` ``                                                                     .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+                                                                                                                          .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+                                                                                                                          .````      
|      ```.;++++++++++++'''''';'''''''''''''''''''''''''''''''''''+                                                                                                                          .````      
|      ```.;++++++++++++'''';':';';;';;';;''''''''''''''''''''''''+               ` `      `  ````             `                                                                             .````      
|      ```.;+++'''''++++'''';';:;:+::;;:';''''''''''''''''''''''''+               ``.` `. ``` ``..```..` .``.`````. ```.`.``.                                                                .````      
|      ```.;++';;;;;'+++'''''':;:;;;;;;;:;''''''''''''''''''''''''+               ```` `.```` .``.` ``.  ..````..`` `````...`                                                                .````      
|      ```.;++';;;;;'+++''''''''''''''''''''''''''''''''''''''''''+                        `       ``    `        `       ```                                                                .````      
|      ```.;++'';''''+++''''''''''''''''''''''''''''''''''''''''''+                                                                                                                          .````      
|      ```.;++'''''''+++''''''''''''''''''''''''''''''''''''''''''+                                                                                                                          .````      
|      ```.;++'''''''+++'''''';''''';'''''''''''''''''''''''''''''+     `...```                                                                                                              .````      
|      ```.;++'';'';'+++''';;'::::::;:''''''''''''''''''''''''''''+     .,,:`..` `  `                                                                                                        .````      
|      ```.;++';;;;;'+++''';:'::;;;;;;''''''''''''''''''''''''''''+     .,:',..` ....,,.` ` ```````                                                                                          .````      
|      ```.;++';;;;;'+++'''''''''''';'''''''''''''''''''''''''''''+     .,;@+..` .::,,,:` ` ```` ``                                                                                          .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+     .,;#+..` ,``````` ` `                                                                                                .````      
|      ```.;++++''++++++''''''''''''''''''''''''''''''''''''''''''+     .,;@:,,`                                                                                                             .````      
|      ```.;++++;''+++++''''''''''''''';';''''''''''''''''''''''''+     .,:@,,,`                                                                                                             .````      
|      ```.;++++'''+++++'''';';;:;:;;;:;;:;;:'''''''''''''''''''''+     .,,;,,,` `....``.` ..                                                                                                .````      
|      ```.;++++++++++++'''';';;':;:;:;:;;;:;'''''''''''''''''''''+     ..,:,,,` `..`..``....                                                                                                .````      
|      ```.;++++++++++++'''''';';''';;';;;;';'''''''''''''''''''''+     `..,...` `.``````` .`                                                                                                .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+              ``        `                                                                                                 .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+`                                                                                               `   `,                    .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+`                                                                                               `  ,`,     ..             .````      
|      ```.;++';;;;;'+++'''';';;';:'';;'''''''''''''''''''''''''''+`       ``                                                                                      `  `.`    ,`.    ````     .````      
|      ```.;++';;;;;'+++'''';':;;::;;;;;''''''''''''''''''''''''''+`      .#+     ``` `  ` `` `` `  `                                                              `  .,.    ...             .````      
|      ```.;++'';';''+++'''''';;:;;;:;:;''''''''''''''''''''''''''+`      :`.,   .,,,:,` ` `` ```` `                                                               `   `                     .````      
|      ```.;++'';''''+++''''''''''''''''''''''''''''''''''''''''''+`     `,``:   .,,.,:` ```` ```` ``                                                                                    `   .````      
|      ```.;++''''';'+++''''''''''''''''''''''''''''''''''''''''''+`     `,`.,   ``   `                                                                                                      .````      
|      ```.;++'''''''+++''''''''''''''''''''''''''''''''''''''''''+`      . `.                                                                                                               .````      
|      ```.;++';;;;;'+++'''''''''''''''''';''';'''''''''''''''''''+`      .:,`             ``     .    `    `                                                                                .````      
|      ```.;++';;;;;'+++'''';'::;:;:;;:;;';;;::;::''''''''''''''''+`      .,,    `..........,...`.,.``.......,..````                                                                         .````      
|      ```.;+++''''''+++'''';':':;;;:;;;:';;:;:;:;''''''''''''''''+`       ,`    .,..`......`.```... .......`.,. `.                                                                          .````      
|      ```.;++++++++++++'''''';';';'';;';';;;'';;;''''''''''''''''+`             ``.  `  ```  `  ``` ``` ``  ``` `                                                                           .````      
|      ```.;++++'''+++++;;;;;;;;;;;;;;';;;;;;;;;;';;;;;;;;;;;;;'''+`                                                                                                                         .````      
|      ```.;++++;''++++'::::::::::::::::::::::::::::::::::::::::''+`                                                                                                                         .````      
|      ```.;+++++''++++'::::::,::::::::::,::::::::::::::::::::::+'+     ,'''';:`                                                                                                             .````      
|      ```.;+++++++++++'::::.:.,,,,,.,,.,.::::::::::::::::::::::+'+     :##',',` `   `                                                                                                       .````      
|      ```.;+++++++++++':::,,:...,,.,..,..::::::::::::::::::::::+'+     ..::``.` ..,.,,,, ````` `.`                                                                                          .````      
|      ```.;+++++++++++'::::,:,,,.,,..,,..::::::::::::::::::::::+'+     ..':``.` .,::,:,`    `` ```                                                                                          .````      
|      ```.;+++++++++++'::::::::::::::::::::::::::::::::::::::::''+     ,,':.`.` .`   ``                                                                                                     .````      
|      ```.;++++++++++++;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;'''+     :;:':.,`                                                    ``                                                       .````      
|      ```.;++'''''''+++''''''''''''''''''''''''''''''''''''''''''+     :;,.,...                          `    `       `           `.`.                                                      .````      
|      ```.;++'''''''+++'''';';'''';''''''''''''''''''''''''''''''+     :'',``., ```` ``  `  ` ```  `` `  ,`` `` ` ``` .`` `` ` `` ...,                                                      .````      
|      ```.;++'''''''+++'''';':;;:;;;:;::::'''''''''''''''''''''''+     ;#''.`+. `.......``... ...``.. . ...`... `.,.`..``.`.. ...`.:,:                                                      .````      
|      ```.;++'''''''+++'''';';:::;;;:;::;;'''''''''''''''''''''''+     :#+'.,#. ````..```.... .`.`..` . ... `.` ,..`.```.``.` `.. `,:.                                                      .````      
|      ```.;++'''''''+++''''''''''''''''''''''''''''''''''''''''''+                   `                                             ``                                                       .````      
|      ```.;++'''''''+++''''''''''''''''''''''''''''''''''''''''''+                                                                                                                          .````      
|      ```.;++'''''''+++''''''''''''''''''''''''''''''''''''''''''+       ` `                                                                                                                .````      
|      ```.;++'''''''+++'''''';'''''''''''''''''''''''''''''''''''+      ```,``                                                                                                              .````      
|      ```.;++++++++++++'''';':;;;:::;;:;;:;:;:;''''''''''''''''''+        ```   .````````.````.``  ` `` `` `                                                                                .````      
|      ```.;++++++++++++'''';';:;:;;;:;:;:;:;:;;''''''''''''''''''+       `````  .,,::,::,,:,:,:,:  ` `` ````                                                                                .````      
|      ```.;++++;''+++++'''''''';';''';''';';'''''''''''''''''''''+      ,,````  ...`:.,..:`,..,..  ```` `` `                                                                                .````      
|      ```.;++++''''++++''''''''''''''''''''''''''''''''''''''''''+      .,````  .   .`   `                                                                                                  .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+      `````.`                                                                                                             .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+      ``....` `        `  ` `  `   `                                                                                      .````      
|      ```.;++++++++++++'''';';;';;;;;;;''''''''''''''''''''''''''+     .,.....` `.`.....`. .....`.. .,`.``.`                                                                                .````      
|      ```.;++++++++++++''';;'::;:;:::;;''''''''''''''''''''''''''+     .:.....` ``..`.`.`. ...`.`.. ....```.                                                                                .````      
|      ```.;++++++++++++''';;';:;;;;:;';''''''''''''''''''''''''''+      ``````             .                                                                                                .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+                                                                                                                          .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+                                                                                                                        ` .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+                                                                                                                       `` .````      
|      ```.;++++++++++++'''';';;;';'''';''''''''''''''''''''''''''+              .        ``                                                                                              `` .````      
|      ```.;++++++++++++'''';'::;:::;;;:;;''''''''''''''''''''''''+         `    .,..,.,...` ````` `````````                                                                              `` .````      
|      ```.;++++++++++++'''';':;;;;;::;:;:''''''''''''''''''''''''+        `';   .,,::,,,,,` ````  ` ` `` ``                                                                              `` .````      
|      ```.;++++++++++++''''''''';'';';'';''''''''''''''''''''''''+        `;;.  ````.```.`  ` `   ` ` `                                                                                  `` .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+      ,;'':`   ` `                                                                                                     `` .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+      .;;;     ;;'                                                                                                     `` .````      
|      ```.;++++++++++++'''''';'''''''''''''''''''''''''''''''''''+      `;.;    `;,;```     .. .      `.             ``            .`  ``````. `.`.``.` .  .`` . . .` .`                 `` .````      
|      ```.;++++++++++++'''';':;;;;:;'''''''''''''''''''''''''''''+      .,`;    `,.,```,..,`:. .``.`.`,,`....`..`.``.,`.`. .`....`...` ``````````.````  . ``. `. . `.`,.                  ` .````      
|      ```.;++++++++++++'''';':;:;;;;;''''''''''''''''''''''''''''+               .+` `...,.,,. .``.. .....`.``.....`...`..``..`.`.,.`. `.``.`.. ...` .` . `.`.`. . `.`..                    .````      
|      ```.;++++++++++++'''''';;;;;;;;''''''''''''''''''''''''''''+               `'` `.,` ` `. `  `  ``    .. `. `  ``  ..   `   `` `` ``` ` `` `  `  ` ` ` `  ` `     `                    .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+    ````````````..`````````````````````````````````````````````````````````````````````````````````````````````````       .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+    `       `                                                                                                     `       .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+    `       `                                                                                                     `       .````      
|      ```.;++++++++++++'''';'''''''''';''''''''''''''''''''''''''+    `       ` `                                                                                                   `       .````      
|      ```.;++++++++++++'''';'::;::;';:;;:;'''''''''''''''''''''''+    `   .   ` . `          ``          `                                                                     ```` `       .````      
|      ```.;++++++++++++'''';';;::;:;;;;:;:'''''''''''''''''''''''+    `  `.   ` .`.````````` ..```````````                                                                     ...` `       .````      
|      ```.;+++++'++++++''''''''''''''''''''''''''''''''''''''''''+    `  `.   ` .````````````.````````````                                                                     ...` `       .````      
|      ```.;+++++:#+++++''''''''''''''''''''''''''''''''''''''''''+    `   .   ` `  ` ``````      `  ``  `                                                                      `..  `       .````      
|      ```.;++++':++++++''''''''''''''''''''''''''''''''''''''''''+    `       `                                                                                                     `       .````      
|      ```.;+++':::;++++''''''''';''''''''''''''''''''''''''''''''+    `       `                                                                                                     `       .````      
|      ```.;++++#:#+++++'''';':;;:;:;'''''''''''''''''''''''''''''+    `       `                                                                                                     `       .````      
|      ```.;+++++:#+++++'''';';;;;;:;'''''''''''''''''''''''''''''+    ````````.``````````````````````````````````````````````````````````````````````````````````````````````````````       .````      
|      ```.;++++++++++++'''''''';'''''''''''''''''''''''''''''''''+                                                                                                                          .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+                                                                                                                          .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+                                                                                                                          .````      
|      ```.;++++++++++++''''''''''''''''''''''''''''''''''''''''''+                                                                                                                          `````      
|      ```.;++++++++++++'''';';;;;;;;;''''''''''''''''''''''''''''+                                                                                                                          `````      
|      ```.,++++++++++++'''';':::::;:;'''''''''''''''''''''''''''''` `    `` `  ` `` `` `  `  `    `` `  ` `` `` `  `  `    ``  `  `` `` ````` ```  ` `` `  `` `` ````` ```  ` ``    `       `````      
|      ```...,,,,,::::::::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,....```       
|      ```...,,,,,:::::::::::::,,,,:,::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,....```       
|      ````...,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,....```       
|      ````....,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,...````       
|       ````....,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.....````       
|       ````........,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.......````        
|        `````.............................................................................................................................................................................`````        
|        ``````..........................................................................................................................................................................``````         
|         `````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````         
|         ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````          
|           ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````            
|            ``````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````             
|                ```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````                             
</pre>