html
  head
    meta(http-equiv='refresh', content='2;url=http://devschile.github.io/codigo-de-conducta/')
    title Redireccionando...
  body
    | Redireccionando. Haz click en
    a(href='http://devschile.github.io/codigo-de-conducta/') este link
    |  para ir.
