@import "inc/mixins";
@import "inc/colors";
@import "inc/fonts";
@import "inc/sprites";
@include sprites($spritesheet-sprites);
@import "inc/variables";
@import "inc/components";


html,
body {
  height: 100%;
  box-sizing: border-box; 
}
html {
  overflow-x: hidden;
}
body {
  background: #100a1c;
  background-image: -webkit-radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
  background-image: radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
  background-attachment: fixed;
  color: $font;
  font-size: 1.1em;
}
body,
pre,
code {
  font-family: $primary-fontfamily;
}
h1,
h2,
h3 {
  font-family: $title;
}
h1,
h2,
h3,
pre,
code {
  color: #fff;
  font-weight: normal;
}
code {
  background-color: rgba(255,255,255,.15);
}
a {
  color: $link;

  &:hover {
    text-decoration: none;
  }
}
.text-center {
  text-align: center;
}
main {
  padding: 5em 1.5em;
}

h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 1.8em; 
}
h3 {
  font-size: 1.3em;

  span {
    display: inline-block;
    border-bottom: 1px solid #fff;
    padding: .2em .8em;
  }
}

hr {
  opacity: .2;
  margin: 2em auto;
  width: 100%;
}

.box-btn_inscribete {
  margin: 4em 0;
}

.btn {
  display: inline-block;
  padding: .6em 1em;
  color: #fff;
  background-color: $link;
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $button;
  cursor: pointer;
  font-size: 1.2em;
}

.vertical-tall {
  height: 60vmin;
}
.vertical-middle {
  height: 40vmin;
}

.vertical-centered-text {
  display: table;

  > p {
    display: table-cell;
    vertical-align: middle;
  }
}

.tinymodal-active .tinymodal-window-open {
  position: fixed;
  
  img {
    max-width: 100%;
  }
}

@media (min-width: 1280px){
  .container {
    max-width: 1024px;
  }
}


.box-person {

  .box-avatar {

    .avatar {
      max-width: 50%;
      border-radius: 50%;
      border: 5px solid $font;
      background-color: #fff;
    }
  }

  .box-testimony {
    
    .who {
      font-weight: bold;
    }
  }

  .-hidden {
    display: none;
  }
}